<template>
    <div id="dashboard" class="row mt-3">
    <div class="col-12 col-sm-12">
      <h1>Dashboard!</h1>
    <p>Je kan dit zien alleen als je bent ingelogd!</p>
    </div>
  </div>
</template>

<style scoped>

</style>