<template>
    <div>
        <hr style="max-width: 100%;">
        <p>Component met counter & delay</p>
        <button class="btn btn-success" @click="asyncIncrement({by: 50, duration: 500})">Increment</button>
        <button class="btn btn-danger ml-2" @click="asyncDecrement({by: 50, duration: 500})">Decrement</button>
        <hr style="max-width: 100%;">
    </div>
</template>

<script>
import { mapActions } from 'vuex'
    export default {
        methods: {
            ...mapActions([
                'asyncDecrement'
            ]),
            asyncIncrement(by, duration) {
                this.$store.dispatch('asyncIncrement', by, duration)
            }
        }
    }
</script>>