<template>
    <div>
        <span><code>...mapGetters({})</code></span>
        <p>Counter is: <strong>{{ doubleCounter }}</strong></p>
    </div>
</template>

<script>
import { mapGetters } from 'vuex'
import * as types from '@/store/types'

export default {
    computed: {
        ...mapGetters({
            doubleCounter: types.DOUBLE_COUNTER
        })
    }
}
</script>