<template>
    <div class="mt-4">
        <code>...mapGetters({})</code>
        <p>Counter is: <strong>{{ counter }}</strong></p>
    </div>
</template>

<script>
import { mapGetters } from 'vuex'
import * as types from '../../store/types'

export default {
    computed: {
        ...mapGetters({
            counter: types.DOUBLE_COUNTER
        })
    }
}
</script>