<template>
  <div class="container mt-5 mb-5">
    <div class="row mt-5">
      <div class="col-12 col-sm-12 mt-4">
        <div class="jumbotron">
          <h3>Animaties</h3>
        </div>
      </div>
      <div class="col-12 col-sm-8">
        <div class="row">
          <div class="col-12 col-sm-12">
            <div class="form-group">
              <label for="animaties">Kies een animatie</label>
              <select class="form-control" v-model="alertAnimation">
                <option value="fade">Fade</option>
                <option value="slide">Slide</option>
              </select>
            </div>
          </div>
          <div class="col-12 col-sm-12">
            <button @click="show = !show" class="btn btn-primary">
              Animatie:
              <strong>{{alertAnimation}}</strong>
            </button>
          </div>
          <div class="col-12 col-sm-12 mt-3">
            <transition :name="alertAnimation" appear>
              <div v-if="show" class="alert alert-info alert-custom" role="alert">
                <p>info alert</p>
              </div>
            </transition>
          </div>
          <div class="col-12 col-sm-12">
            <hr>
          </div>
          <div class="col-12 col-sm-12">
            <button @click="slide = !slide" class="btn btn-primary">Slide animatie</button>
            <transition name="slide" type="animation" appear>
              <div v-show="slide" class="alert alert-dark alert-custom mt-3" role="alert">
                <p>info alert</p>
              </div>
            </transition>
          </div>
          <div class="col-12 col-sm-12">
            <hr>
          </div>
          <div class="col-12 col-sm-12">
            <h6>Animate.css</h6>
            <button @click="animateCSS = !animateCSS" class="btn btn-primary">Click</button>
            <transition enter-active-class="animated bounce" leave-active-class="animated shake" appear>
              <div v-show="animateCSS" class="alert alert-dark alert-custom mt-3" role="alert">
                <span>
                  <strong>Enter animatie: Bounce</strong>
                </span> <br>
                <span>
                  <strong>Leave animatie: Shake</strong>
                </span>
                <p>info alert</p>
              </div>
            </transition>
          </div>
          <div class="col-12 col-sm-12">
            <hr>
          </div>
          <div class="col-12 col-sm-12">
            <h6>Toggle animaties</h6>
            <button @click="multiAnimations = !multiAnimations" class="btn btn-primary">Click</button>
            <transition :name="alertAnimation" mode="out-in">
              <div v-if="multiAnimations" class="alert alert-primary alert-custom mt-3" role="alert" key="info">
                <p>info alert</p>
              </div>
              <div v-else class="alert alert-success alert-custom mt-3" role="alert" key="success">
                <p>success alert</p>
              </div>
            </transition>
          </div>
          <div class="col-12 col-sm-12">
            <hr>
          </div>
          <div class="col-12 col-sm-12">
            <h6>Animatie met functies</h6>
            <button @click="load = !load" class="btn btn-primary">Click</button>
            <transition @before-enter="beforeEnter" @enter="enter"
              @beforeLeave="beforeLeave" @leave="leave" :css="false">
              <div v-if="load" class="mt-2" style="width: 100px; height: 100px; background-color: lightgreen;"></div>
            </transition>
          </div>
          <div class="col-12 col-sm-12">
            <hr>
          </div>
          <div class="col-12 col-sm-12">
            <h6>Component met animatie</h6>
            <button @click="selected == 'wm-success-alert' ? 
                selected = 'wm-danger-alert' : 
                selected = 'wm-success-alert'" class="btn btn-primary">
              {{selected == 'wm-success-alert' ?
          'Success alert component' :
          'Danger alert component'}}
            </button>
            <transition :name="alertAnimation" mode="out-in">
              <component class="mt-2" :is="selected"></component>
            </transition>
          </div>
        </div>
      </div>
      <div class="col-12 col-sm-4">
        <div class="row sticky-top">
          <div class="col-12 col-sm-12">
            <div class="card">
              <div class="card-body">
                <h5 class="card-title">Transition functies</h5>
                <code class="blockElement">@before-enter</code>
                <code class="blockElement">@enter</code>
                <code class="blockElement">@after-enter</code>
                <code class="blockElement">@enter-cancelled</code>
                <code class="blockElement">@beforeLeave</code>
                <code class="blockElement">@leave</code>
                <code class="blockElement">@after-leave</code>
                <code class="blockElement">@leave-cancelled</code>
              </div>
            </div>
          </div>
          <div class="col-12 col-sm-12 mt-4">
            <div class="card">
              <div class="card-header">
                <div class="row">
                  <div class="col-12 col-sm-6">
                    <p class="mt-2">Lijst met animatie</p>
                  </div>
                  <div class="col-12 col-sm-6">
                    <button class="btn btn-block btn-primary" @click="addItem">
                      Voeg item toe
                    </button>
                  </div>
                </div>
              </div>
              <ul class="list-group list-group-flush">
                <transition-group :name="alertAnimation">
                  <li class="list-group-item list-group-item-action" style="cursor: pointer;"
                    v-for="(number, index) in numbers" :key="number" @click="removeItem(index)">
                    {{ number }}
                  </li>
                </transition-group>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import DangerAlert from "@/components/Alerts/DangerAlert";
import SuccessAlert from "@/components/Alerts/SuccessAlert";

export default {
  components: {
    "wm-danger-alert": DangerAlert,
    "wm-success-alert": SuccessAlert
  },
  data() {
    return {
      show: false,
      slide: false,
      animateCSS: false,
      alertAnimation: "fade",
      multiAnimations: true,
      load: false,
      elementWidth: 100,
      selected: "wm-success-alert",
      numbers: [1, 2, 3, 4, 5]
    };
  },
  methods: {
    addItem() {
      const pos = Math.floor(Math.random() * this.numbers.length);
      this.numbers.splice(pos, 0, this.numbers.length + 1)
    },
    removeItem(index) {
      this.numbers.splice(index, 1)
    },
    beforeEnter(el) {
      this.elementWidth = 100;
      el.style.width = this.elementWidth + "px";
    },
    enter(el, done) {
      console.log("enter");
      let round = 1;
      const interval = setInterval(() => {
        el.style.width = this.elementWidth + round * 10 + "px";
        round++;
        if (round > 20) {
          clearInterval(interval);
          done();
        }
      }, 20);
    },
    beforeLeave(el) {
      this.elementWidth = 300;
      el.style.width = this.elementWidth + "px";
    },
    leave(el, done) {
      let round = 1;
      const interval = setInterval(() => {
        el.style.width = this.elementWidth - round * 10 + "px";
        round++;
        if (round > 20) {
          clearInterval(interval);
          done();
        }
      }, 20);
    }
  }
};
</script>

<style>
.fade-enter {
  opacity: 0;
}

.fade-enter-active {
  transition: opacity 1s;
}
.fade-leave-to {
  opacity: 1;
}
.fade-leave-active {
  transition: opacity 1s;
  opacity: 0;
}

.slide-enter {
  opacity: 0;
}

.slide-enter-active {
  animation: slide-in 1s ease-out forwards;
  transition: opacity 0.5s;
}

.slide-leave-active {
  animation: slide-out 1s ease-out forwards;
  transition: opacity 1s;
  opacity: 0;
  position: absolute;
}

.slide-move {
    transition: transform 1s;
}

@keyframes slide-in {
  from {
    transform: translateY(20px);
  }
  to {
    transform: translateY(0);
  }
}

@keyframes slide-out {
  from {
    transform: translateY(0);
  }
  to {
    transform: translateY(20px);
  }
}

.alert-custom {
  width: 100% !important;
}
.sticky-top {
  top: 70px !important;
}

.blockElement {
  display: block;
}
</style>