<template>
<div class="container mt-5">
   <div class="row mt-5">
       <div class="col-12 col-sm-12 mt-4">
            <wm-axios-appbar></wm-axios-appbar>
       </div>
       <div class="col-12 col-sm-12">
            <router-view></router-view>
       </div>
   </div>
</div>
</template>

<script>
import AxiosHeader from '@/components/auth/user/nav/navbar'

export default {
    components: {
        'wm-axios-appbar': AxiosHeader
    },
    created () {
        this.$store.dispatch('tryAutoLogin')
    }
}
</script>