<template>
  <div class="container mt-5">
    <div class="row mt-5 mb-4">
      <div class="col-12 col-sm-12 text-center mt-4">
        <div class="jumbotron main-header">
          <img src="../assets/logo.png" alt="Vuejs">
          <h3>{{ title }}</h3>
        </div>
      </div>
      <div class="col-12 col-sm-12">
        <div class="row">
          <div class="col-12 col-sm-7">
            <div class="row">
              <div class="col-12 col-sm-12">
                <span><code>v-model</code> met dynamische css classes</span>
              </div>
              <div class="col-12 col-sm-12 mt-2">
                Beschikbare kleuren:
                <span class="badge red text-white">red</span>
                <span class="badge green text-white ml-2">green</span>
                <span class="badge blue text-white ml-2">blue</span>
              </div>
              <div class="col-12 col-sm-12 mt-2">
                <div class="form-group mb-3">
                  <input name="color" id="color" v-model="color" type="text" class="form-control" placeholder="Kleur"
                    aria-label="Kleur" aria-describedby="basic-addon2">
                </div>
                <div class="input-group mb-3">
                  <input name="width" id="width" v-model="width" type="text" class="form-control"
                    placeholder="Recipient's username" aria-label="Recipient's username"
                    aria-describedby="basic-addon2">
                  <div class="input-group-append">
                    <span class="input-group-text" id="basic-addon2">width <small><strong>[px]</strong></small></span>
                  </div>
                </div>
              </div>
              <div class="col-12 col-sm-12 mb-2">
                <span>Klik op de blokken om te switchen tussen kleuren</span>
              </div>
              <div class="col-12 col-sm-4">
                <div class="demo" id="red" @click="attachRed = !attachRed" :class="colorClasses"></div>
              </div>
              <div class="col-12 col-sm-4">
                <div class="demo" id="blue" @click="attachBlue = !attachBlue" :class="{ blue: attachBlue }"></div>
              </div>
              <div class="col-12 col-sm-4">
                <div class="demo" @click="attachGreen = !attachGreen" :style="myStyle"></div>
                <br>
                <span>Dynamische css class</span>
              </div>
              <div class="col-12 col-sm-12">
                <hr>
              </div>
              <div class="col-12 col-sm-12">
                <div class="row">
                  <div class="col-12 col-sm-12">
                    <span><code>v-if: true or false</code> Verwijderd element van de dom</span>
                    <hr>
                    <span><code>v-show: true or false</code> Voegt <code>display: none;</code> toe aan een html
                      element</span>
                  </div>
                  <div class="col-12 col-sm-12 mt-2">
                    <template v-if="show">
                      <!-- template word niet gerendered in de dom -->
                      <p>Dit kan je zien</p>
                    </template>
                    <p v-show="!show">Dit kan je zien nadat je op de button hebt geklikt</p>
                    <button class="btn btn-primary" @click="show = !show">
                      {{ show ? 'Click' : 'Verbergen'}}
                    </button>
                  </div>
                </div>
              </div>
              <div class="col-12 col-sm-12 mt-2">
                <hr>
              </div>
              <div class="col-12 col-sm-12">
                <div class="row">
                  <div class="col-12 col-sm-12">
                    <span><code>v-for</code></span>
                  </div>
                  <div class="col-12 col-sm-12">
                    <div class="row">
                      <div class="col-12 col-sm-6">
                        <div class="row">
                          <div class="col-12 col-sm-12">
                            <ul class="list-group">
                              <li class="list-group-item" v-for="(item, index) in items" :key="index">
                                {{ index+1 }}. {{item}}
                              </li>
                            </ul>
                          </div>
                          <div class="col-12 col-sm-3 mt-2" v-for="(item, i) in items" :key="i">
                            <button class="btn btn-info" v-on:click="selectedItem(item)" :key="i">{{item }}</button>
                          </div>
                          <div class="col-12 col-sm-12 mt-2">
                            <span>Geselecteerde item: <code>{{ item }}</code></span>
                          </div>
                        </div>
                      </div>
                      <div class="col-12 col-sm-6">
                        <div class="form-group">
                          <input class="form-control" placeholder="Voeg een item toe" type="text" name="item" id="item"
                            v-model="newItem">
                        </div>
                        <button class="btn btn-primary" @click="addItem">Nieuwe item</button>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-12 col-sm-5">
            <div class="card">
              <div class="card-body">
                <h5 class="card-title">Attributen</h5>
                <p class="card-text"><a v-bind:href="link" target="_blank">Google</a> - <code>v-bind:href</code></p>
                <hr>
                <p class="card-text">
                  <button class="btn btn-primary" v-on:click="increase(1, $event)">Click</button>
                  <span class="ml-2">{{ counter }}</span> - <code> v-on:click </code>
                </p>
                <hr>
                <div class="card-text">
                  <div class="row">
                    <div class="col-12 col-sm-12 text-left">
                      <code>v-on:mousemove & v-on:mousemove.stop</code>
                    </div>
                    <div class="col-12 col-sm-12 mt-3">
                      <p v-on:mousemove="updateCoordinates">
                        Coordinaten: {{ x }} / {{ y }}
                      </p>
                      <span class="caption" v-on:mousemove="stopEvent">DEAD ZONE</span>
                    </div>
                  </div>
                </div>
                <div class="card-text mt-3">
                  <div class="row">
                    <div class="col-12 col-sm-12">
                      <code>v-on:keyup.enter & v-on:change</code>
                    </div>
                    <div class="col-12 col-sm-6 mt-3">
                      <div class="form-group">
                        <input class="form-control" placeholder="Type iets en druk op enter" type="text"
                          v-on:keyup.enter="showMessage">
                      </div>
                      <span><strong>Uitvoer:</strong></span> {{ inputMessage }}
                    </div>
                    <div class="col-12 col-sm-6 mt-3">
                      <div class="form-group">
                        <input class="form-control" placeholder="Databinding" type="text" v-on:change="showName"
                          name="name" id="name" v-model.trim="name">
                      </div>
                      <span><strong>Uitvoer:</strong></span> {{ name }}
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  data() {
    return {
      title: 'VueJS 2',
      link: 'http://google.com',
      counter: 0,
      x: 0,
      y: 0,
      name: '',
      inputMessage: '',
      attachRed: false,
      attachGreen: false,
      attachBlue: false,
      color: 'green',
      width: 100,
      show: true,
      items: ['Vlees', 'Fruit', 'Rijst'],
      item: '',
      newItem: ''
    }
  },
  computed: {
    colorClasses: function () {
      return {
        red: this.attachRed,
        blue: !this.attachRed
      }
    },
    myStyle: function () {
      return {
        backgroundColor: this.color,
        width: this.width + 'px'
      }
    }
  },
  methods: {
    increase: function (step, event) {
      this.counter += step;
    },
    updateCoordinates: function (event) {
      this.x = event.clientX;
      this.y = event.clientY;
    },
    stopEvent: function (event) {
      event.stopPropagation();
    },
    showMessage: function () {
      this.inputMessage = event.target.value
    },
    showName: function () {
      this.name = event.target.value
    },
    showRed: function () {
      this.attachRed = !this.acctachRed
    },
    selectedItem: function (item) {
      this.item = item
    },
    addItem: function () {
      if (this.newItem !== '') {
        this.items.push(this.newItem)
        this.newItem = ''
        return;
      }
    }
  }
}
</script>


<style>
.main-header {
  border-radius: unset;
}
.demo {
  width: 100%;
  height: 150px;
  background-color: grey;
  display: inline-block;
  cursor: pointer;
}

.red {
  background-color: red;
}

.green {
  background-color: green;
}

.blue {
  background-color: blue;
}

.caption {
  background-color: rgb(175, 16, 16);
  color: white;
  font-size: 15px;
  font-weight: 500;
}
.caption-text {
  font-size: 13px;
}
</style>