<template>
  <div class="container mt-5">
    <div class="row mt-5">
      <div class="col-12 col-sm-12 mt-4">
        <div class="jumbotron">
          <h3>Inputs</h3>
        </div>
      </div>
      <div class="col-12 col-sm-6">
        <div class="row">
          <div class="col-12 col-sm-12 mt-3">
            <div class="form-group">
              <input placeholder="Email" class="form-control" :value="userData.email"
                @input="userData.email = $event.target.value" type="text" name="email" id="email">
            </div>
          </div>
          <div class="col-12 col-sm-12">
            <div class="form-group">
              <input placeholder="Wachtwoord" class="form-control" v-model.lazy="userData.password" type="password"
                name="password" id="password">
            </div>
          </div>
          <div class="col-12 col-sm-12">
            <div class="form-group">
              <input class="form-control" placeholder="Leeftijd" v-model.lazy.number="userData.age" type="text"
                name="age" id="age">
            </div>
          </div>
          <div class="col-12 col-sm-12">
            <div class="form-group">
              <textarea class="form-control" placeholder="Bericht" v-model.lazy="userData.message" name="message"
                id="message" rows="3"></textarea>
            </div>
          </div>
          <div class="col-12 col-sm-12">
            <div class="form-group">
              <input v-model="userData.sendMail" value="SendMail" id="sendmail" type="checkbox"><label for="sendmail"
                class="ml-2">Verstuur email</label>
              <input class="ml-4" v-model="userData.sendMail" value="SendInfoMail" id="sendinfomail"
                type="checkbox"><label for="sendinfomail" class="ml-2">Verstuur info mail</label>
            </div>
          </div>
          <div class="col-12 col-sm-12">
            <input v-model="userData.gender" type="radio" name="male" value="Man" id="male"><label class="ml-2"
              for="male">Man</label>
            <input class="ml-4" v-model="userData.gender" type="radio" name="female" value="Vrouw" id="female"><label
              for="female" class="ml-2">Vrouw</label>
          </div>
          <div class="col-12 col-sm-12">
            <div class="form-group">
              <select class="form-control" v-model="userData.selectedPriority">
                <option v-for="(priority, index) in priorityOptions" :key="index">
                  {{ priority }}
                </option>
              </select>
            </div>
          </div>
          <div class="col-12 col-sm-12 mt-2 mb-3">
            <span>Custom switch button</span>
            <wm-switch class="mt-2" v-model="userData.dataSwitch"></wm-switch>
          </div>
          <div class="col-12 col-sm-12 mt-2">
            <button @click.prevent="doSubmit" class="btn btn-block btn-primary" type="submit">Submit</button>
          </div>
        </div>
      </div>
      <div class="col-12 col-sm-6 mt-2 mt-sm-0">
        <div class="row">
          <div class="col-12 col-sm-12">
            <div class="card">
              <div class="card-body">
                <div class="card-text">
                  <h3>v-model</h3>
                  <code>
                    @input; zonder v-model<br>
                    v-model.lazy; <br>
                    v-model.number; <br>
                    v-model.trim; <br>
                  </code>
                </div>
              </div>
            </div>
          </div>
          <div class="col-12 col-sm-12 mt-3">
            <div class="card" v-if="isSubmitted">
              <div class="card-header">User Data</div>
              <div class="card-text ml-3 mt-2">
                <p>Email: <strong>{{ userData.email }}</strong></p>
                <p>Password: <strong>{{ userData.password }}</strong></p>
                <p>Age: <strong>{{ userData.age }}</strong></p>
                <p style="white-space: pre;">Message: <strong>{{ userData.message }}</strong></p>
                <p><strong>Mail</strong></p>
                <ul>
                  <li v-for="(item, index) in userData.sendMail" :key="index">
                    {{ item }}
                  </li>
                </ul>
                <p>Gender: <strong>{{ userData.gender }}</strong></p>
                <p>Priority: <strong>{{ userData.selectedPriority }}</strong></p>
                <p>Switched: <strong>{{ userData.dataSwitch ? 'Aan' : 'Uit' }}</strong></p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import Switch from '@/components/Inputs/Switch'

export default {
  components: {
    'wm-switch': Switch
  },
  data() {
    return {
      userData: {
        email: '',
        password: '',
        age: 32,
        message: '',
        sendMail: [],
        gender: 'Man',
        selectedPriority: 'High',
        dataSwitch: false
      },
      isSubmitted: false,
      priorityOptions: ['High', 'Medium', 'Low']
    }
  },
  methods: {
    doSubmit() {
      this.isSubmitted = true
    }
  }
}
</script>