<template>
  <div class="container mt-5 mb-5">
    <div class="row mt-5">
      <div class="col-12 col-sm-12 mt-4">
        <div class="jumbotron">
          <h3>{{ title }}</h3>
        </div>
      </div>
      <div class="col-12 col-sm-8">
        <div class="row">
          <div class="col-12 col-sm-12">
            <span class="blockElement"> <code>destroy()</code> functie</span>
            <button class="btn btn-primary mt-2" @click="destroy">Destroy</button>
            <span class="blockElement mt-2">Wanneer je deze functie aanklikt werkt de pagina niet meer.</span>
          </div>
          <div class="col-12 col-sm-12">
            <hr>
          </div>
          <div class="col-12 col-sm-12">
            <h5>Component met props & events</h5>
          </div>
          <div class="col-12 col-sm-12">
            <div class="row">
              <div class="col-12 col-sm-6">
                <WM-server-status @serverReset="serverStatus = $event" :serverStatus="serverStatus">
                </WM-server-status>
              </div>
              <div class="col-12 col-sm-6">
                <p>Button buiten de component</p>
                <button @click="changeStatus" class="btn btn-primary">
                  {{ serverStatus == 'Kritiek' || serverStatus == 'Done' || serverStatus == 'Normaal' ? 'Updaten' : 'Bezig..'}}
                </button>
              </div>
            </div>
          </div>
          <div class="col-12 col-sm-12">
            <hr>
          </div>
          <div class="col-12 col-sm-12">
            <h5>Component met slots</h5>
          </div>
          <div class="col-12 col-sm-12">
            <div class="row">
              <div class="col-12 col-sm-12 mb-2">
                <span>Selecteer een component:</span>
              </div>
              <div class="col-4 col-sm-4">
                <button @click="selectedComponent = 'WM-component-1'" class="btn btn-block btn-secondary">
                  Component 1
                </button>
              </div>
              <div class="col-4 col-sm-4">
                <button @click="selectedComponent = 'WM-component-2'" class="btn btn-block btn-secondary">
                  Component 2
                </button>
              </div>
              <div class="col-4 col-sm-4">
                <button @click="selectedComponent = 'WM-component-3'" class="btn btn-block btn-secondary">
                  Component 3
                </button>
              </div>
            </div>
          </div>
          <div class="col-12 col-sm-12 mt-2">
            <p>Geselecteerde Component: <strong>{{selectedComponent}}</strong></p>
            <keep-alive>
              <!-- keep-alive houd de component levend -->
              <component :is="selectedComponent">
                <input style="width: 300px; margin: 0 auto;" class="form-control" slot="inputQuote"
                  placeholder="Type een quote" type="text" name="quote" id="quote" v-model="quoteTitle">
                <h2 slot="title" class="mt-2">{{ quoteTitle }}</h2>
              </component>
            </keep-alive>
          </div>
        </div>
      </div>
      <div class="col-12 col-sm-4">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">VueJS lifecycles</h5>
            <div class="card-text">
              <code class="blockElement">beforeCreate()</code>
              <code class="blockElement">create()</code>
              <code class="blockElement">beforeMount()</code>
              <code class="blockElement">mounted()</code>
              <code class="blockElement">beforeUpdate()</code>
              <code class="blockElement">updated()</code>
              <code class="blockElement">beforeDestroy()</code>
              <code class="blockElement">destroyed()</code>
            </div>
          </div>
        </div>
        <div class="card mt-4">
          <div class="card-body">
            <h5 class="card-title">Component lifecycles</h5>
            <div class="card-text">
              <code class="blockElement">activated()</code>
              <code class="blockElement">deactivated()</code>
            </div>
            <h6 class="card-title mt-3">Component</h6>
            <div class="card-text">
              <code>keep-alive</code>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import ServerStatus from '@/components/ServerStatus'
import ComponentOne from '@/components/ComponentOne'
import ComponentTwo from '@/components/ComponentTwo'
import ComponentThree from '@/components/ComponentThree'
import { eventBus } from '../main'

export default {
  components: {
    'WM-server-status': ServerStatus,
    'WM-component-1': ComponentOne,
    'WM-component-2': ComponentTwo,
    'WM-component-3': ComponentThree
  },
  data() {
    return {
      title: 'Lifecycles & Components',
      serverStatus: 'Kritiek',
      quoteTitle: 'Type hier een text',
      selectedComponent: 'WM-component-1'
    }
  },
  created: function () {
    eventBus.$on('serverReset', value  => {
      this.serverStatus = value;
    })
  },
  methods: {
    destroy: function () {
      this.$destroy();
    },
    changeStatus () {
      this.serverStatus = 'Updating'
      if (this.serverStatus = 'Updating') {
        setTimeout(() => {
          this.serverStatus = 'Done'
        }, 2000)
      }
    }
  }
}
</script>

<style scoped>
.blockElement {
  display: block;
}

</style>