<template>
  <div class="container mt-5">
    <div class="row mt-5">
      <div class="col-12 col-sm-12 mt-4">
        <div class="jumbotron">
          <h3>
            Mixins
          </h3>
        </div>
      </div>
      <div class="col-12 col-sm-12">
        <h6>Filters</h6>
        <p>{{ text | toUppercase }}: <strong>lokale filter:</strong> <code>text | toUppercase</code> </p>
        <p>{{ text | to-lowercase }}: <strong>globale filter:</strong> <code>text | to-lowercase</code> </p>
      </div>
      <div class="col-12 col-sm-12">
        <hr>
      </div>
      <div class="col-12 col-sm-12">
        <h6>Locale mixin</h6>
      </div>
      <div class="col-12 col-sm-6">
        <div class="row">
          <div class="col-12 col-sm-12">
            <div class="form-group">
              <input placeholder="Item toevoegen" class="form-control" type="text" v-model="item">
            </div>
          </div>
          <div class="col-12 col-sm-12">
            <button @click="addItem" class="btn btn-block btn-primary">Item toevoegen</button>
          </div>
        </div>
      </div>
      <div class="col-12 col-sm-6">
        <span>Filter lijst</span>
        <div class="form-group">
          <input placeholder="Bijv: Banana" class="form-control" type="text" v-model="filterText">
        </div>
        <ul>
          <li v-for="(item, index) in filteredItems" :key="index">
            {{ item }}
          </li>
        </ul>
      </div>
      <div class="col-12 col-sm-12">
        <h6>Component met globale mixin</h6>
        <wm-list></wm-list>
      </div>
    </div>
  </div>
</template>

<script>
import List from '@/components/List'
import { itemMixin } from '../itemMixin'

export default {
  components: {
    'wm-list': List
  },
  data() {
    return {
      text: 'hey jij daar',
      item: ''
    }
  },
  mixins: [itemMixin],
  filters: {
    toUppercase(value) {
      return value.toUpperCase()
    }
  },
  methods: {
    addItem() {
      if (this.item !== '') {
        this.items.push(this.item)
        return;
      }
    }
  }
}
</script>