<template>
      <div class="container mt-5">
        <div class="row mt-5">
          <div class="col-12 col-sm-12 mt-4">
            <div class="jumbotron">
              <h3>
                State Management
              </h3>
              <small>Met VUEX</small>
            </div>
          </div>
          <div class="col-12 col-sm-12">
            <wm-counter></wm-counter>
            <wm-result></wm-result>
          </div>
          <div class="col-12 col-sm-12">
            <wm-another-counter></wm-another-counter>
            <wm-another-result></wm-another-result>
          </div>
        </div>
      </div>
</template>

<script>
import Counter from '@/components/vuex/Counter.vue';
import AnotherCounter from '@/components/vuex/AnotherCounter.vue';
import Result from '@/components/vuex/Result.vue';
import AnotherResult from '@/components/vuex/AnotherResult.vue';

export default {
  computed: {
    value: {
      get () {
        return this.$store.getters['Value/value']
      },
      set (value) {
        this.$store.dispatch('Value/updateValue', value)
      }
    }
  },
  components: {
    'wm-counter': Counter,
    'wm-another-counter': AnotherCounter,
    'wm-result': Result,
    'wm-another-result': AnotherResult
    }
}
</script>

