<template>
  <div id="welcome" class="cell small-12 text-center">
    <h1>Http requests met axios</h1>
    <p>Authentication</p>
    <small>Login!</small>
    <div class="cta mt-2">
      <router-link class="btn btn-dark ml-2" :to="{name: 'signin'}">Inloggen</router-link>
    </div>
  </div>
</template>

<style scoped>
  #welcome {
    width: 80%;
    margin: auto;
  }

  h1 {
    text-align: center;
  }

  p {
    text-align: center;
  }

</style>