<template>
<div>
   <div class="title">
       <h5>Behoud data na wegklikken</h5>
       <button @click="counter++" class="btn btn-primary">Omhoog</button>
       <p>{{counter}}</p>
   </div>
   <hr>
</div>
</template>

<script>
export default {
    data () {
        return {
            counter: 0
        }
    },
    deactivated () {
        console.log('deactivated() <-- COMPONENT LIFECYCLE')
    },
    activated () {
        console.log('activated() <-- COMPONENT LIFECYCLE')
    }
}
</script>
