<template>
<div>
   <div class="row text-center">
      <div class="col-12 col-sm-12 mt-4">
           <slot name="inputQuote"></slot>
      </div>
      <div class="col-12 col-sm-12">
                 <slot name="title"></slot>
      </div>
   </div>
   <hr>
</div>
</template>

<script>
export default {
}
</script>

<style scoped>
h2 {
    font-weight: bold;
}

p {
    font-weight: bold;
    color: red;
}
</style>