<template>
  <div class="row">
    <div class="col-12 col-sm-6">
      <span>Filter lijst</span>
      <div class="form-group">
        <input placeholder="Bijv: Banana" class="form-control" type="text" v-model="filterText">
      </div>
      <ul>
        <li v-for="(item, index) in filteredItems" :key="index">
          {{ item }}
        </li>
      </ul>
    </div>
  </div>
</template>

<script>
import { itemMixin } from '../itemMixin'

export default {
    mixins: [ itemMixin ],
    created () {
        console.log('inside list created hook')
    }
}
</script>