<template>
<nav class="navbar navbar-expand-xl navbar-light bg-light fixed-top">
  <a class="navbar-brand" href="#">VueJS</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
        <router-link 
        v-for="(link, index) in links" 
        :key="index" 
        :to="link.to.name" 
        active-class="active"
        class="nav-item"
        tag="li"
        exact>
        <a class="nav-link" href="#">{{link.title}}</a>
        </router-link>
    </ul>
  </div>
</nav>
</template>

<script>
export default {
    data () {
        return {
            links: [
                { title: 'Home', to: { name: '/' } },
                { title: 'Lifecycles', to: { name: 'lifecycle' } },
                { title: 'Inputs', to: { name: 'inputs' } },
                { title: 'Mixins', to: { name: 'mixins' } },
                { title: 'Animations', to: { name: 'animations' } },
                { title: 'State Management', to: { name: 'statemanagement' } },
                { title: 'Axios Http', to: { name: 'axioshttp' } },
            ]
        }
    }
}
</script>
