<template>
    <div>
        <p>Server Status: {{ serverStatus }}</p>
        <button class="btn btn-primary" @click="resetServer">Button binnen de component</button>
    </div>
</template>

<script>
import { eventBus } from '../main'

export default {
    props: {
      serverStatus: {
          type: String,
          required: true,
          default: 'Normaal'
      }
    },
    methods: {
        resetServer () {
            let normalStatus = this.serverStatus;
            normalStatus = 'Normaal';
            eventBus.resetServer(normalStatus)
        }
    }
}
</script>