<template>
<div>
  <wm-appbar></wm-appbar>
  <router-view></router-view>
</div>
</template>

<script>
import '@/assets/app.css'
// import '@/assets/index.scss'
import Navbar from '@/components/Navbar'

export default {
  components: {
    'wm-appbar': Navbar
  }
}
</script>

<style>
.active a {
  color: black;
  font-weight: 700;
}
</style>