<template>
  <div class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="logo">
      <router-link :to="{name: 'welcome'}">VueJS Axios Http <br>
        <small>Authentication / Stateless RESTful API</small>
      </router-link>
    </div>
    <nav class="ml-auto">
      <ul>
        <li v-if="!auth">
          <router-link :to="{name: 'signin'}" exact>Login</router-link>
        </li>
        <li v-if="auth">
          <router-link :to="{name: 'dashboard'}" exact>Dashboard</router-link>
        </li>
        <li v-if="auth">
          <router-link :to="{ name: 'logout' }">Uitloggen</router-link>
        </li>
      </ul>
    </nav>
  </div>
</template>

<script>
export default {
  computed: {
    auth() {
      return this.$store.getters.isAuthenticated;
    }
  },
  methods: {
  }
}
</script>

<style scoped>
  #header {
    height: 56px;
    display: flex;
    flex-flow: row;
    justify-content: space-between;
    align-items: center;
    background-color: #201752;
    padding: 0 20px;
  }

  .logo {
    font-weight: bold;
    color: white;
  }

  .logo a {
    text-decoration: none;
    color: white;
  }

  nav {
    height: 100%;
  }

  ul {
    list-style: none;
    margin: 0;
    padding: 0;
    height: 100%;
    display: flex;
    flex-flow: row;
    align-items: center;
  }

  li {
    margin: 0 16px;
  }

  li a {
    text-decoration: none;
    color: white;
  }

  li a:hover,
  li a:active,
  li a.router-link-active {
    color: #cacfff;
  }
</style>