<template>
<form @submit.prevent="onSubmit">
  <div class="row d-flex justify-content-center mt-5">
    <div class="col-12 col-sm-6">
      <span class="figure-caption">
        Email: <strong>demo@demo.com</strong>
      </span> <br>
       <span class="figure-caption">
        Wachtwoord: <strong>testen</strong>
      </span>
    </div>
  </div>
  <div class="row d-flex justify-content-center">
    <div class="col-12 col-sm-6 mt-2">
      <div class="card">
        <div class="card-header bg-dark text-white">
          Inloggen
        </div>
        <div class="card-body">
        <div class="form-group">
          <label for="email">Email</label>
          <input class="form-control" type="email" id="email" v-model="email">
        </div>
        <div class="form-group">
          <label for="password">Wachtwoord</label>
          <input class="form-control" type="password" id="password" v-model="password">
        </div>
        <div v-if="error" class="alert alert-danger">
          {{ errMsg }}
        </div>
        </div>
        <div class="card-footer text-right">
          <button class="btn btn-dark" type="submit">Inloggen</button>
        </div>
      </div>
    </div>
  </div>
</form>
</template>

<script>
  export default {
    data() {
      return {
        email: '',
        password: '',
        errMsg: '',
        error: false
      }
    },
    methods: {
      onSubmit() {
        const formData = {
          email: this.email,
          password: this.password,
        }
        if (this.email !== '' || this.password !== '') {
          if (this.email !== '') {
            if (this.password !== '') {
              this.$store.dispatch('login', {
                email: formData.email,
                password: formData.password
              })
              this.error = false
            } else {
              this.error = true
              this.errMsg = 'Wachtwoord is verplicht'
              setTimeout(() => {
                this.error = false
              }, 2500)
            }
          } else {
            this.error = true
            this.errMsg = 'Email is verplicht'
            setTimeout(() => {
              this.error = false
            }, 2500)
          }
        } else {
          this.error = true
          this.errMsg = 'Email & Wachtwoord zijn verplicht'
          setTimeout(() => {
            this.error = false
          }, 2500)
        }
      }
    }
  }
</script>

<style scoped>
  .signin-form {
    width: 400px;
    margin: 30px auto;
    border: 1px solid #eee;
    padding: 20px;
    box-shadow: 0 2px 3px #ccc;
  }

  .input {
    margin: 10px auto;
  }

  .input label {
    display: block;
    color: #4e4e4e;
    margin-bottom: 6px;
  }

  .input input {
    font: inherit;
    width: 100%;
    padding: 6px 12px;
    box-sizing: border-box;
    border: 1px solid #ccc;
  }

  .input input:focus {
    outline: none;
    border: 1px solid #201752;;
    background-color: #eee;
  }

  .submit button {
    border: 1px solid #201752;
    color: #521751;
    padding: 10px 20px;
    font: inherit;
    cursor: pointer;
  }

  .submit button:hover,
  .submit button:active {
    background-color: #201752;
    color: white;
  }

  .submit button[disabled],
  .submit button[disabled]:hover,
  .submit button[disabled]:active {
    border: 1px solid #ccc;
    background-color: transparent;
    color: #ccc;
    cursor: not-allowed;
  }
</style>